<div class="container">
  <label for="typeahead-focus">Search for a state:</label>
  <app-autocomplete
  name="States"
  [(ngModel)]="model"
  [data]="states"
>
</app-autocomplete>
  
</div>

<button (click)="onSave()">Save</button>



 <!-- ez mukodik, classic typeahead -->
<!-- <input
    id="typeahead-focus"
  type="text"
  class="form-control"
  [(ngModel)]="model"
  [ngbTypeahead]="search"
  (focus)="focus$.next($any($event).target.value)"
  (click)="click$.next($any($event).target.value)"
  #instance="ngbTypeahead"/>
  <hr>
  <pre>Model: {{ model | json }}</pre> -->
  
